.submit-button {
  width: 200px;
  height: 55px;
  background: linear-gradient(#d6d6d6, #e4e4e4);
  box-shadow: 0 2px 8px #d1d1d1;
  border: none;
  border-radius: 35px;
  font-family: monospace;
  font-size: 1.125rem;
  font-weight: bold;
  margin: 1rem 0;
}

.submit-button:hover {
  cursor: pointer;
}
