.loader-container {
  margin: 0.5rem;
  padding: 0.7rem;
  border-radius: 20px;
  width: fit-content;
  background: linear-gradient(90deg, #dddddd, #c6c6c6);
}

.loader-image {
  height: 7px;
  width: 40px;
}
