.send-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  min-width: 50px;
  box-shadow: 0 2px 8px #d1d1d1;
  border: none;
  border-radius: 35px;
  background: linear-gradient(90deg, #eeaeca, #94bbe9);
  margin-left: 10px;
  padding: 1.25rem 0;
}

.send-button:hover {
  cursor: pointer;
}
