.messages-box {
  height: 100%;
  width: 70%;
  transition: width 0.3s ease-out;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.expanded-messages-box {
  width: 94%;
}

@media only screen and (max-width: 1025px) {
  .messages-box {
    width: 60%;
  }
  .expanded-messages-box {
    width: 92%;
  }
}

@media only screen and (max-width: 426px) {
  .messages-box::-webkit-scrollbar {
    display: none;
  }
  .expanded-messages-box {
    width: 85%;
  }
}
