.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding: 0 35px;
}

.user-card-text {
  font-size: 1.125rem;
  padding-top: 10px;
}
