.sidebar-button {
  background-color: transparent;
  border: none;
  margin: 1.5rem;
}

.sidebar-button:hover {
  cursor: pointer;
}

.rotated-arrow {
  transform: rotate(180deg);
  transition: transform 0.2s;
}

@media only screen and (max-width: 769px) {
  .sidebar-button {
    margin: 0.8rem;
  }
}
