.welcome-container {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #eeaeca, #94bbe9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-message {
  text-align: center;
  line-height: 40px;
  max-width: 700px;
  padding: 0.5rem;
}
