.not-found-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-text {
  text-align: center;
  max-width: 600px;
  margin-top: 1rem;
}
