.sidebar {
  height: 100%;
  width: 30%;
  background: linear-gradient(90deg, #eeaeca, #94bbe9);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  right: 0px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.hidden-sidebar {
  transform: translateX(80%);
}

@media only screen and (max-width: 1025px) {
  .sidebar {
    width: 40%;
  }
}

@media only screen and (max-width: 426px) {
  .sidebar {
    width: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .hidden-sidebar {
    transform: translateX(85%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}
