.outer-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#d6d6d6, #e4e4e4);
}

.content-container {
  background-color: #f7f7f7;
  width: 80%;
  height: 90%;
  box-shadow: 0 4px 8px 0 #d1d1d1, 0 4px 10px 0 #d1d1d1;
  border-radius: 6px;
  overflow: hidden;
}

@media only screen and (max-width: 769px) {
  .content-container {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
