.header-container {
  width: 100%;
  height: 10%;
  padding: 0 0.7rem;
  box-shadow: 0 2px 8px #d1d1d1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  font-size: 1.5rem;
  font-weight: normal;
}

.bold-title {
  font-weight: bold;
}
