.user-input-container {
  width: 40%;
  max-width: 350px;
}

.user-input-field {
  width: 100%;
  height: 55px;
  border: none;
  font-size: 1rem;
  padding: 0 1.5rem;
  border-radius: 40px;
  box-shadow: 0 2px 8px #d1d1d1;
  font-family: monospace;
  margin-top: 1rem;
}

.user-input-field:focus {
  outline: #d1d1d1 solid 1px;
}

.error-message {
  color: #ff0000;
  text-align: left;
  height: 30px;
  padding: 0 0.5rem;
}

@media only screen and (max-width: 769px) {
  .user-input-container {
    width: 100%;
  }
}
