.avatar-container {
  background-color: #d1d1d1;
}

.small-avatar {
  width: 44px;
  height: 44px;
  border-radius: 22px;
}

.large-avatar {
  width: 150px;
  height: 150px;
  border-radius: 75px;
}

.avatar-image {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

@media only screen and (max-width: 769px) {
  .large-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
}
