* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p,
h1 {
  font-family: monospace;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}
