.message-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  box-shadow: 0 2px 8px #d1d1d1;
  padding: 0.7rem;
}

.message-input-field {
  width: 90%;
  border: none;
  border-radius: 40px;
  font-size: 1rem;
  font-family: monospace;
  padding: 0.7rem 1.5rem;
  box-shadow: 0 2px 8px #d1d1d1;
}

.message-input-field:focus {
  outline: #d1d1d1 solid 1px;
}

@media only screen and (max-width: 769px) {
  .message-form {
    padding: 0.7rem 0.5rem;
  }
  .message-input-field {
    padding: 0.7rem;
  }
}
