.message-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.message {
  margin: 0.5rem;
  padding: 0.7rem;
  border-radius: 20px;
  width: fit-content;
  max-width: 70%;
  overflow-wrap: break-word;
}

.bot-message {
  background: linear-gradient(90deg, #dddddd, #c6c6c6);
}

.user-message {
  background: linear-gradient(90deg, #eeaeca, #94bbe9);
  align-self: flex-end;
}

.message-content {
  font-size: 1rem;
}
